.head{
    background-color: #ffe4c4; 
    color: #683410; 
    padding: 20px; 
    font-weight: bolder; 
    font-size: 45px; 
    text-align: center;
}
.title{
    font-weight: bolder; 
    color: #5e2f0d; 
    font-size: 25px;
    padding: 10px;
    background-color: white;
    width: 1030px;
    margin-left: 250px;
    margin-top: 10px;
    /* line-height: 80px; */
}
.bigtitle{
    font-weight: bolder; 
    color: #5e2f0d; 
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}
.littletitle{
    color: #5e2f0d; 
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.input{
    font-weight: bolder; 
    color: #5e2f0d; 
    font-size: 20px;
    padding: 10px;
    background-color: white;
    width: 1030px;
    margin-left: 250px;
    margin-top: 10px;
    /* line-height: 80px; */
}
/* #create1{
    position:relative; 
} 
#create2{
    position:relative;
}
#create3{
    position:relative;
}
#create4{
    position:relative;
}
#create5{
    position:relative;
}
#create6{
    position:relative;
} */