.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* position: fixed; */
    /* bottom: 0; */
}

.imageupload__progress {
    width: 100%;
}