.App {
  text-align: center;
  border-style: double;
  width: 300px;
  height: 250px;
  position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bolder;
}
.input {
  margin-bottom: 10px;
}
.btn {
  margin-top: 20px;
  position: relative;
    left: 90px;
}