.head{
    background-color: #4F008A	; 
    color: aliceblue; 
    padding: 15px; 
    font-weight: bolder; 
    font-size: 40px; 
    text-align: left;
    font-style: italic;
}
.stationName{
    font-weight: bolder; 
    font-size: 30px; 
    text-align: center;
    padding: 10px;
    border:5px double #0000A3;
    width: 150px;
    margin-left: 550px;
    margin-top: 10px;
    margin-bottom: 20px;
    /* box-shadow:3px 3px 5px 6px #000080; */
    border-radius: 20px;
}
#stationPrice{
    position: relative;
        left: 15%;
        top: 50%;
    font-weight: bolder; 
    font-size: 15px; 
}
#stationTime{
    position: relative;
        left: 40%;
        top: 50%;
    font-weight: bolder; 
    font-size: 20px; 
}
.background{
    background-color: #F5E8FF;
}
