.head{
    background-color: #5E00A3	; 
    color: aliceblue; 
    padding: 15px; 
    font-weight: bolder; 
    font-size: 40px; 
    text-align: left;
    font-style: italic;
}
.stationName{
    font-weight: bolder; 
    font-size: 30px; 
    text-align: center;
    padding: 10px;
    border:5px double #0000A3;
    width: 150px;
    margin-left: 625px;
    margin-top: 10px;
}
#station{
    text-align: left;
    margin-left: 620px; 
    padding-top: 15px;
    font-weight: bolder; 
    font-size: 30px; 
    padding-top: 10px;

}
.content{
    width:300px; 
    padding:10px; 
    border:2px dashed green; 
    margin-top:10px; 
    margin-bottom:10px
}
